# RabbitMQ Configuration
RABBITMQ_HOST=rabbitmq
RABBITMQ_USER=admin
RABBITMQ_PASS=admin123

# SIAKAD Database (MySQL)
SIAKAD_DB_URL=mysql+pymysql://siakad_user:siakad_pass@siakad-db:3306/db_siakad

# Finance Database (PostgreSQL)
FINANCE_DB_URL=postgresql://finance_user:finance_pass@finance-db:5432/db_finance

# Library Database (MySQL)
LIBRARY_DB_URL=mysql+pymysql://library_user:library_pass@library-db:3306/db_library