DATABASE_URL=mysql+pymysql://root:root_siakad_123@siakad-db:3306/campus_siakad_db

RABBITMQ_HOST=rabbitmq
RABBITMQ_USER=admin
RABBITMQ_PASS=admin123

EXCHANGE_NAME=campus_events
ROUTING_KEY=student.registered